.map-layer {
    position: absolute;
    background-color: #f0f0f0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-marker {
    position: absolute;
    font-family: monospace;
    color: #b0b0b0;
    cursor: pointer;
}