<div id="map-layer" class="map-layer">
  <div *ngFor="let station of stations"
    class="map-marker"
    (click)="selectStation($event, station.id)"
    [ngStyle]="{top: station.latitude + 'px', left: station.longitude + 'px' }">
    <div class="map-marker-resource map-marker-bikes"
      [ngClass]="getResourceClass(station)"
      *ngIf="resourceMode === 'bikes'">
      {{ station.bikes }}
    </div>
    <div class="map-marker-resource map-marker-slots"
      [ngClass]="getResourceClass(station)"
      *ngIf="resourceMode === 'slots'">
      {{ station.slots }}
    </div>
  </div>
</div>