.map {

    &-layer {
        position: absolute;
        background-color: #f0f0f0;
        top: 0;
        left: 0;
        width: 100vw;
        height: calc(100vh - 60px);

    }

    &-center {
        position: absolute;
        background-image: url('/assets/crosshair.svg');
        width: 24px;
        height: 24px;
        left: calc(50% - 12px);
        top: calc(50% - 12px);
    }
}
