.map {

    &-layer {
        position: absolute;
        background-color: #f0f0f0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-marker {
        position: absolute;
        font-family: monospace;
        color: #b0b0b0;
        cursor: pointer;

        &-resource {
            width: 28px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            background-color: #808080;
            color: #FFFFFF;
            transform: translate(-50%, -50%);

            &--black {
                background-color: #181818;
                // #282828
            }

            &--red {
                background-color: #C62828;
                // #E53935
            }

            &--orange {
                background-color: #FF8F00;
                // #FFB300
            }

            &--green {
                background-color: #558B2F;
                // #7CB342
            }

            &--grey {
                background-color: #B0BEC5; // 200
                // #ECEFF1 // 50
            }
        }

        &-bikes {
            border-radius: 2px;
        }

        &-slots {
            border-radius: 14px;
        }
    }
}
