@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

$buttonColor: #78909C;

body {
    position: relative;
}

.main {
    font-family: 'Droid Sans', sans-serif;
}

nav {
    &.nav-filters {
        display: flex;
        position: absolute;
        left: 12px;
        bottom: 24px;
        padding: 6px 2px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.2);
    }

    &.nav-refresh {
        position: absolute;
        bottom: 16px;
        right: 24px;
    }

    &.nav-places {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 90px;
        right: 22px;
        padding: 8px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 32px;
        box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.2);
    }
}

.nav-button {
    position: relative;
    border: none;
    width: 42px;
    line-height: 42px;
    margin: 0;
    padding: 0;
    background-color: $buttonColor;
    font-size: 18px;
    font-weight: 300;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
}

.refresh-button {
    width: 52px;
    height: 52px;
}

.place-button {
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }
}

.toggle {
    &-control {
        position: relative;
        top: 2px;
        display: flex;
        margin: 0 0.4em;
    }

    &-label {
        margin-right: 4px;

        &:nth-of-type(3) {
            margin-right: 0;
            margin-left: 4px;
        }
    }

    &-switch {
        position: relative;
        cursor: pointer;

        &:before {
            content: ' ';
            display: block;
            width: 44px;
            height: 20px;
            background-color: desaturate(lighten($buttonColor, 22%), 18%);
            border-radius: 10px;
        }
        &::after {
            content: ' ';
            position: absolute;
            display: block;
            top: -4px;
            left: 0;
            width: 28px;
            height: 28px;
            background-color: $buttonColor;
            border-radius: 14px;
            transition: all 200ms ease;
        }

        &.on-off {
            &::after {
                background-color: desaturate(lighten($buttonColor, 30%), 25%);
            }
        }

        &.toggled {
            &::after {
                left: 16px;
                background-color: $buttonColor;
            }
        }
    }
}
