<div class="main">

  <app-map [mapCenter]="mapCenter"
    [resourceMode]="resourceMode"
    [resourceFilter]="resourceFilter"
    (clickStation)="selectStation($event)">
  </app-map>

  <app-station-details [stationId]="stationSelected"
    [resourceMode]="resourceMode"
    (clickStation)="selectStation($event)"
    (clickBackdrop)="dismissStationDetails()">
  </app-station-details>

  <nav class="nav-filters">

    <div class="toggle-control">
      <div class="toggle-label">
       &#9673;
      </div>
      <div class="toggle-switch"
        (click)="toggleResourceType()"
        [ngClass]="{ 'toggled': resourceMode === 'slots' }" >
      </div>
      <div class="toggle-label">
        &#9678;
      </div>
    </div>

    <div class="toggle-control">
      <div class="toggle-label">
        m
      </div>
      <div class="toggle-switch on-off"
           (click)="toggleFilter('BIKE')"
           [ngClass]="{ 'toggled': resourceFilter === null || resourceFilter === 'BIKE' }" >
      </div>
    </div>

    <div class="toggle-control">
      <div class="toggle-label">
        e
      </div>
      <div class="toggle-switch on-off"
           (click)="toggleFilter('BIKE-ELECTRIC')"
           [ngClass]="{ 'toggled': resourceFilter === null || resourceFilter === 'BIKE-ELECTRIC' }" >
      </div>
    </div>

  </nav>

  <nav class="nav-refresh">
    <button class="refresh-button nav-button" (click)="refreshStationList()">
      r
    </button>
  </nav>

  <nav class="nav-places">
    <button class="place-button nav-button" (click)="centerMap('geo')">
      g
    </button>

    <button class="place-button nav-button" (click)="centerMap('home')">
      h
    </button>
  </nav>

</div>
