<div class="main">

  <app-map [mapCenter]="mapCenter"
    [resourceMode]="resourceMode"
    [resourceFilter]="resourceFilter"
    (clickStation)="selectStation($event)">
  </app-map>

  <app-station-details [stationId]="stationSelected"
    [resourceMode]="resourceMode"
    (clickStation)="selectStation($event)"
    (clickBackdrop)="dismissStationDetails()">
  </app-station-details>

  <nav class="controls">

    <div class="resource-type-toggle" [ngClass]="resourceMode === 'bikes' ? 'resource-type-toggle--bikes' : 'resource-type-toggle--slots'">
      <button class="resource-type-toggle-button" (click)="changeResourceType('bikes')">
        &#9673;
      </button>
      <button class="resource-type-toggle-button" (click)="changeResourceType('slots')">
        &#9678;
      </button>
    </div>

    <div class="resource-filter-toggle"
      [ngClass]="{'resource-filter-toggle--mech': resourceFilter === 'BIKE', 'resource-filter-toggle--elec': resourceFilter === 'BIKE-ELECTRIC'}">
      <button class="resource-filter-toggle-button" (click)="changeBikeTypeFilter('BIKE')">
        m
      </button>
      <button class="resource-filter-toggle-button" (click)="changeBikeTypeFilter(null)">
        +
      </button>
      <button class="resource-filter-toggle-button" (click)="changeBikeTypeFilter('BIKE-ELECTRIC')">
        e
      </button>
    </div>

    <button class="refresh-button" (click)="refreshStationList()">
      r
    </button>

  </nav>

</div>
