@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

body {
    position: relative;
}

.main {
    font-family: 'Droid Sans', sans-serif;
}

nav.controls {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.resource-type-toggle {
    display: flex;
    position: relative;
    width: 100px;
    justify-content: center;

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        background-color: rgba(50,50,50,.85);
        height: 20px;
        width: 80px;
        height: 28px;
        left: 10px;
        border-radius: 14px;
        top: 7px;

    }

    &::after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #323232;
        z-index: 100;
        transition: transform 320ms ease;
    }

    &.resource-type-toggle--bikes::after {
        transform: translateX(-20px);
    }
    &.resource-type-toggle--slots::after {
        transform: translateX(20px);
    }

    &-button {
        position: relative;
        background-color: transparent;
        border: none;
        width: 42px;
        line-height: 42px;
        padding: 0;
        font-size: 18px;
        font-weight: 300;
        color: white;
        cursor: pointer;
        z-index: 200;
        outline: none;
    }
}
