<div class="main">

  <app-map [resourceMode]="resourceMode"
    (clickStation)="selectStation($event)">
  </app-map>

  <app-station-details [stationId]="stationSelected"
    [resourceMode]="resourceMode"
    (clickStation)="selectStation($event)"
    (clickBackdrop)="dismissStationDetails()">
  </app-station-details>

  <nav class="resource-type-toggle">
    <button class="resource-type-toggle-button"
      [ngClass]="{'resource-type-toggle-button--active': resourceMode === 'bikes'}"
      (click)="changeResourceType('bikes')">
      Bikes
    </button>
    <button class="resource-type-toggle-button"
      [ngClass]="{'resource-type-toggle-button--active': resourceMode === 'slots'}"
      (click)="changeResourceType('slots')">
      Slots
    </button>
  </nav>

</div>
