<div class="station-details" [ngClass]="{'station-details--in': dialogIn()}">
  <div class="station-details-dialog-underlay" (click)="hideDialog()"></div>
  <div class="station-details-dialog">
    <div *ngIf="station !== null">

      <div class="station-details-id">{{ station.id }}</div>

      <h3 class="station-details-name">
        {{ station.streetName }}, {{ station.streetNumber }}
      </h3>

      <div *ngIf="resourceMode === 'bikes'" class="station-details-resources">
        <div class="station-details-resource">
          <div class="station-details-resource-number">{{ station.bikes }}</div>
          <div class="station-details-resource-label">Bikes</div>
        </div>
        <div class="station-details-resource">
          <div class="station-details-resource-number">{{ station.slots }}</div>
          <div class="station-details-resource-label">Slots</div>
        </div>
      </div>

      <div *ngIf="resourceMode === 'slots'" class="station-details-resources">
        <div class="station-details-resource">
          <div class="station-details-resource-number">{{ station.slots }}</div>
          <div class="station-details-resource-label">Slots</div>
        </div>
        <div class="station-details-resource">
          <div class="station-details-resource-number">{{ station.bikes }}</div>
          <div class="station-details-resource-label">Bikes</div>
        </div>
      </div>

      <div class="station-details-nearby">
        <div class="station-details-nearby-label">
          Nearby stations
        </div>
        <ul class="station-details-nearby-list">
          <li *ngFor="let nearbyStation of nearbyStationList" class="station-details-nearby-list-item">
            <a (click)="showStationDetails($event, nearbyStation.id)" href="#">
              <span class="station-details-nearby-list-item-id">
                {{ nearbyStation.id }}
              </span>
              <span class="station-details-nearby-list-item-name">
                {{ nearbyStation.streetName }}, {{ nearbyStation.streetNumber }}
              </span>
              <div *ngIf="resourceMode === 'bikes'" class="station-details-nearby-list-item-resources">
                {{ nearbyStation.bikes }} / {{ nearbyStation.slots }}
              </div>
              <div *ngIf="resourceMode === 'slots'" class="station-details-nearby-list-item-resources">
                {{ nearbyStation.slots }} / {{ nearbyStation.bikes }}
              </div>
            </a>
          </li>
        </ul>
      </div>

    </div>

    <div *ngIf="station === null">
      Not found
    </div>

  </div>
</div>
