.station-details {}

.station-details-dialog {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    max-width: 320px;
    padding: 1em;
    background-color: #FFF;
    transform: translateX(-100%);
}

.station-details-name {
    position: relative;
    padding-right: 44px;
}

.station-details-name-id {
    position: absolute;
    right: 0;
    top: -1px;
    width: 38px;
    line-height: 21px;
    font-weight: 400;
    padding-top: 2px;
    color: #fff;
    background-color: #c0c0c0;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
}

.station-details-dialog-underlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    cursor: pointer;
}

.station-details--in .station-details-dialog {
    transform: translateX(0);
    transition: transform cubic-bezier(0, 0.8, 0, 1) 600ms 120ms;
    transition: transform ease 400ms 120ms;
}

.station-details--in .station-details-dialog-underlay {
    display: block;
}

