<div class="station-details" [ngClass]="{'station-details--in': dialogIn()}">
  <div class="station-details-dialog-underlay" (click)="hideDialog()"></div>
  <div class="station-details-dialog">
    <div *ngIf="station !== null">
      <h3 class="station-details-name">
        <span class="station-details-name-id">{{ station.id }}</span>
        {{ station.streetName }}, {{ station.streetNumber }}
      </h3>
      <div *ngIf="resourceMode === 'bikes'">
        <div>
          {{ station.bikes }} Bikes
        </div>
        <div>
          {{ station.slots }} Slots
        </div>
      </div>
      <div *ngIf="resourceMode === 'slots'">
        <div>
          {{ station.slots }} Slots
        </div>
        <div>
          {{ station.bikes }} Bikes
        </div>
      </div>
      <br>
      <div class="station-details-nearby">
        <div class="station-details-nearby-label">
          Nearby stations
        </div>
        <ul class="station-details-nearby-list">
          <li *ngFor="let nearbyStation of nearbyStationList" class="station-details-nearby-list-item">
            <a (click)="showStationDetails($event, nearbyStation.id)" href="#">
              {{ nearbyStation.id }}
              -
              {{ nearbyStation.streetName }}, {{ nearbyStation.streetNumber }}
              -
              {{ nearbyStation.bikes }} / {{ nearbyStation.slots }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="station === null">
      Not found
    </div>
  </div>
</div>
